{% extends "jobBoard_app/base_template.html" %}
{% block content %}
    <h1>Posts</h1>
    {% if posts %}
        <div class = "grid-container">
        {% for post in posts %}
            {% if post.client.user == user %}
                <div class = "box" style = "margin-bottom: 20px;">
                    <h1>Job title: {{ post.title }} </h1>
                    <div class = "divider"></div>
                    <p><strong>About:</strong> {{ post.body }}</p>
                    <p><strong>Pay:</strong> {{ post.pay_rate }}</p>
                    <p><strong>Date Posted: </strong>{{ post.dateMade }}</p>
                    <a class="button" href="post/{{post.id}}">View</a>
                    <a class="button" href="{{post.id}}/update_post">Edit</a>
                    <a class="button" href="{{post.id}}/delete_post">Delete</a>
                </div>
            {% else %}
                <div class = "box" style = "margin-bottom: 20px;">
                    <h1>Job title: {{ post.title }} </h1>
                    <div class = "divider"></div>
                    <p><strong>About:</strong> {{ post.body }}</p>
                    <p><strong>Pay:</strong> {{ post.pay_rate }}</p>
                    <p><strong>Date Posted: </strong>{{ post.dateMade }}</p>
                    <a class="button" href="post/{{post.id}}">View</a>
                    </div>
            {% endif %}
        {% endfor %}
        </div>
    {% else %}
        <p>There are no posts at the moment.</p>
    {% endif %}
{% endblock %}