{% extends "jobBoard_app/base_template.html" %}
{% block content %}
    <h1>Posts</h1>
    {% if posts %}
        {% for post in posts %}
        <div class = "box" style = "margin-bottom: 20px;">
            <h1>Job title: {{ post.title }} </h1>
            <p><strong>About:</strong> {{ post.body }}</p>
            <p><strong>Pay:</strong> {{ post.pay_rate }}</p>
            <p><strong>Date Posted: </strong>{{ post.dateMade }}</p>
            <a class="button" href="{{post.id}}/update_post">Edit</a>
            <a class="button" href="{{post.id}}/delete_post">Delete Post</a>

        </div>
        {% endfor %}
    {% else %}
        <p>There are no posts at the moment.</p>
    {% endif %}
{% endblock %}